@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;600;800&display=swap");
* {
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  margin: 0;
  padding: 0;
}

main {
  align-items: center;
  background-color: #dfc5fe;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  padding-top: 150px;
  width: 100%;
}
main .title {
  color: #632ca7;
  letter-spacing: 4px;
  text-align: center;
}

main .container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 20px 0px #632ca7;
  display: flex;
  height: 500px;
  width: 40%;
}

main .container .left-menu,
.right-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 20px;
  text-align: left;
  width: 50%;
}

.container .right-menu {
  align-items: center;
  background-color: #dfc5fe;
  border-radius: 0 10px 10px 0;
}

main .container .left-menu .span-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

main .container .left-menu .btn-wrapper,
.right-menu .btn-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

main .container .left-menu button,
.right-menu .btn-wrapper button {
  background-color: white;
  border: 1px solid #dfc5fe;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  justify-content: space-around;
  letter-spacing: 2px;
  margin: 4px 0;
  opacity: 0.8;
  padding: 10px;
  transition: 0.3 ease-in-out;
  width: 50%;
}

main .container .left-menu button {
  background-color: #632ca7;
  color: white;
}

main .container .right-menu .btn-wrapper button {
  background-color: white;
  color: #632ca7;
}

main .container button:hover {
  opacity: 1;
}

button:active {
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  transform: translateY(4px);
}

main .container .right-menu .money-input {
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 20px 0px #632ca7;
  color: #632ca7;
  font-size: 14px;
  outline: none;
  padding: 10px;
  text-align: center;
  width: 50%;
}

main .container .right-menu .after-transaction-text-container {
  color: #632ca7;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
}

footer {
  color: black;
  font-size: 18px;
  margin-bottom: 20px;
}

footer a {
  color: #632ca7;
  text-decoration: none;
}

@media (max-width: 1200px) and (min-width: 768px) {
  main .container {
    width: 70%;
  }
}

@media (max-width: 768px) {
  main .container {
    width: 95%;
  }
  main .container .left-menu,
  .right-menu {
    width: 100%;
  }
  main .container .left-menu .span-wrapper,
  .right-menu .span-wrapper {
    padding: 0;
  }
  main .container .left-menu .btn-wrapper,
  .right-menu .btn-wrapper {
    width: 100%;
  }
  main .container .left-menu button,
  .right-menu .btn-wrapper button {
    width: 100%;
  }
  main .container .right-menu .money-input {
    width: 100%;
  }
}
